@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


header {
    display: flex;
    background-color: #FF9D45;
    border-bottom: solid 10px black;
    padding: 10px 10px;
    justify-content: space-between;
}

nav{
    text-align: right;    
}

img{
    width: 60px;
    height: 60px;
}

a {
    display: inline-flex;
    font-size: 20px;
    color: #fff;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
    transition: transform  100ms  ease; 
}


a::before{
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #62C370;
    margin-right: 10px;
}


a:hover{
    transform: scale(1.08);
    transition: transform  100ms  ease; 
}

