.progress-bar{
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 320px;
    border: solid 5px black;
    box-sizing: border-box;
    margin-left: 25px;
    margin-top: 20px;
}

.progress-bar::-webkit-progress-bar, ::-moz-progress-bar{
    background-color: #62C370;
}