.main-skill {
    display: flex;
    margin-bottom: 38px;
}


.skills.-tec {
    display: flex;
    margin-bottom: 40px;
    
}

.skills.-tec:nth-child(odd){
    margin-right: 100px;
}

.skills.-main-title {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 25px;
    display: flex;
}


.main-skill .icon{
    width: 90px;
    height: 90px;
}

