@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.main-title{
    font-size: 31px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px  black;
    color: #62C370;
}

.main-title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
    padding-top: 50px;
}

.main-title.-second.-footer {
    color: #fff;
    text-shadow: none;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}


