.main-action {
    display: inline-flex;
    font-size: 20px;
    color: #fff;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
    transition: transform  100ms  ease; 
    
}

.main-action::before{
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #62C370;
    margin-right: 10px;
}


.main-action:hover{
    transform: scale(1.08);
    transition: transform  100ms  ease; 
}
