.main-button-direction{
    display: flex;
    justify-content: space-around;
    width: 728px;
}



.main-button {
    display: inline-block;
    background-color: #62C370;
    line-height: 30px;
    box-shadow: 5px 5px rgb(184, 184, 184);
    padding: 18px 50px;
    transition: transform 100ms cubic-bezier(1,0,0,1);
    text-decoration: none;
    font-family: 'Fira Code', sans-serif;
    color: #fff;
}

.main-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 100ms cubic-bezier(1,0,0,1); 
}

.main-button.-footer {
    font-size: 30px;
}