.skills.-tec {
    display: flex;
    margin-bottom: 40px;
    
}

.skills.-tec:nth-child(odd){
    margin-right: 100px;
}

.skills.-title {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: none;
    font-size: 25px;
    color: #fff;
    margin-left: 25px;
}


.skills.-tec .icon{
    width: 90px;
}